/*=============== HEADER ===============*/
.header {
    width: 100%;
    /* background-color: var(--body-color); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s; /*For animation >> dark mode로 바뀔 때*/
    box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, .1);
}

/*========== NAVIGATION ==========*/
.nav {
    height: calc(var(--header-height) + 0.9rem);
    column-gap: 3rem;
}

.nav__toggle,
.nav__close {
    display: none;
}

.nav__list {
    flex-direction: row;
    column-gap: 2rem;
}

.nav__menu {
    margin-left: auto;
}

/*=============== NAVIGATION ===============*/
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc(var(--mb-1-5) * 2.5);
    margin-right: calc(var(--mb-1-5) * 2.5);
}

.nav__logo,
.nav__toggle,
.nav__close {
    font-family: var(--logo-font);
    font-size: var(--h2-font-size);
    color: var(--title-color);
}

.nav__logo {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    /* align-items: center; */
    column-gap: .5rem;
    transition: .3s;
}

.nav__logo-icon {
    font-size: 1.7rem;
    color: var(--first-color);
}

.nav__logo:hover {
    color: var(--first-color);
}

/* .nav__toggle{
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
} */


/*=============== USER 정보 띄우기 ===============*/
.user {
    width: 16rem;
    box-shadow: 0px 1px 3px rgb(75, 75, 75);
    border-radius: 10px;
    position: fixed;
    right: 5rem;
    margin-top: .2rem;
    z-index: 10;
}

.user_info_header {
  background-color: #ffffff;
  border-radius: 10px 10px 0 0;
}

.user_info_header p {
    text-align: center;
    padding: 0.7rem;
    font-weight: var(--font-semi-bold);
}

.user_info {
    background-color: #f7f4f4;
    border-top: 1px dashed rgb(131 131 131 / 32%);
    padding: 1rem 1rem;
    display: flex;
    column-gap: 0.75rem;
    align-items: center;
    color: var(--text-color);
}
.user_info:hover {
    background-color: rgb(224, 222, 222);
    cursor: pointer;
}
.login_icon img {
    vertical-align: middle;
}
.user_info img, .login_icon img {
    width: 1.75rem;
    height: 1.75rem;
}

.user_info > .user_img_deep {
    width: 3.5rem;
    height: 3.5rem;
    box-shadow: 0px 0px 5px black;
    border-radius: 50%;
}

.user_info > .user_info_text p {
    font-size: var(--smaller-font-size);
}

.user_info:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.user_info:last-child:hover {
    cursor: pointer;
}

.nav__menu-login__li:first-child {
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
}

.nav__menu-login__li:hover {
    cursor: pointer;
}

.nav__menu-login__li > .user_img {
    width: 1.5rem;
    border-radius: 50%;
}

/* 테블릿 반응형 */
@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--container-color);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, .1);
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: var(--z-fixed);
    }
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__list {
    display: flex;
    flex-direction: row;
    row-gap: 1.5rem;
    align-items: center;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
    font-size: 1.15rem;
}

.nav__link:hover {
    color: var(--first-color);
}

/* Active link */
.active-link {
    position: relative;
    color: var(--first-color);
}

.active-link::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 100%;
    height: 2px;
    /* background-color: var(--first-color); */
    background-color: var(--first-color);
}

/*=============== 팔레트, User가 커스텀한 헤더 ===============*/
.body-box {
    display: flex;
    justify-content: center;
}

/* 색상 박스들을 배치할 박스 */
.box {
    z-index: 5;
    width: 183px;
    height: 300px;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 0 8px #6868689e;
    border-radius: 0.5rem;
    position: fixed;
    right: 2.2rem;
    top: 3.85rem;
}

/* 색상 박스가 선택되었을 때 속성 */
.selected {
    box-shadow: 0 0 5px black;
}

/* 색상 박스 */
.colorBox {
    width: 2.25rem;
    height: 2.25rem;
    float: left;
    margin: 0.75rem;
    cursor: pointer;
    border-radius: 50%;
}

