/*
  담당자 : 이승현
  주요 기능 : 태크 통계페이지의 데이터가 비었을 경우 표출되는 컴포넌트 CSS
*/
.emptyData {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.emptyData img {
    opacity: 0.3;
    width: 243px;
    height: 156px;
}
.emptyData {
    text-align: center;
}
.emptyData p {
    color: #ccc;
}
.emptyData > button {
    opacity: 0.3;
    background-color: transparent;
    padding: 10px;
    border: 1px dotted #a8a8a8;
    border-radius: 10px;
}
.emptyData > button:hover{
    cursor: pointer;
    opacity: 0.8;
    border: 1px dotted black;
}
