<!--
    담당자 : 박신욱
    주요 기능 : 대쉬보드 오늘 장소 카카오 지도 영역.
 -->
<link rel="stylesheet" href="/stylesheets/schedule/kakaoMap.css">
<link rel="stylesheet" href="/stylesheets/dashboard/kakaoMap/customoverlay.css">
<div id="map_wrap" class="map_wrap">
    <div id="dashBoardMap" style="width:100%;height:100%;position:relative;overflow:hidden;"></div>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=<%= kakaoKey %>&libraries=services"></script>
