<link rel="stylesheet" href="/stylesheets/dashboard/scheduleAddressList.css">
<div class="addressList">
    <div class="addressListHeader">
        <div class="addressListLeft">
            <i class="fa-solid fa-map-location-dot"></i> <p class="addressListHeaderTitle">오늘 장소</p> <p id="addressListCount" class="addressListCount"></p>
        </div>
        <i class="fa-solid fa-rotate-right" onclick="fullAdress()"></i>
    </div>
    <div id="addressCardList" class="addressCardList">

    </div>
</div>