<link rel="stylesheet" href="/stylesheets/dashboard/scheduleAddressList.css">
<div class="addressList">
    <div class="addressListHeader">
        <i class="fa-regular fa-rectangle-list"></i> <p class="addressListHeaderTitle">오늘 장소</p>
    </div>
    <div id="addressCardList" class="addressCardList">

    </div>
</div>