<script defer src="/javascripts/dashboard/shareScheduleList.js"></script>
<link rel="stylesheet" href="/stylesheets/dashboard/shareScheduleList.css">
<div class="shareScheduleList_header">
    <div class="shareScheduleHeaderLeft">
        <i class="fa-solid fa-share"></i>
        <h1>공유받은 오늘 일정 목록</h1>
        <!-- <p>공유받은 일정 갯수 :</p> -->
        <p id="shareScheduleCount"></p>
    </div>
    <div class="shareScheduleHeaderRight">
        <i class="fa-solid fa-shuffle" onclick="filterMenu()"></i>
        <div class="filterMenu">
            <li onclick="filterReq(null)">전체</li>
            <li onclick="filterReq(false)">진행중</li>
            <li onclick="filterReq(true)">완료</li>
        </div>
    </div>
</div>
<div id="shareScheduleList_div" class="shareScheduleList_div">
    <!-- <div class="shareScheduleList_content">
        <div class="share_colorBox"></div>
        <div class="share_contentBox">
          <div class="shareScheduleList_content_top">
            <div>
              <p class="shareScheduleList_content_top_title">성길쌤이랑 1대1 PT</p>
              <p class="shareScheduleList_content_top_progress">진행도</p>
            </div>
            <p>
                2022.11.01 ~ 2022.11.01
            </p>
          </div>
          <div class="shareScheduleList_content_bottom">
            <img class="share_user_img" src="/images/kakao_icon.png" alt="profile_img">
            <div class="share_user_profile">
              <p>박신욱</p>
              <p>vo0922@naver.com</p>
            </div>
            <p class="share_category">치킨앤 맥주조</p>
          </div>
        </div>
      </div> -->
</div>