<script defer src="/javascripts/dashboard/shareScheduleList.js"></script>
<link rel="stylesheet" href="/stylesheets/dashboard/shareScheduleList.css">
<div class="shareScheduleList_header">
  <i class="fa-solid fa-share"></i>
  <h1>공유받은 일정 목록</h1>
  <!-- <p>공유받은 일정 갯수 :</p> -->
  <p id="shareScheduleCount">3</p>
</div>
<div class="shareScheduleList_content">
  <!-- 공유받은 일정 제목(앞부분에 반드시 색깔 바로 표시해 줄 것) -->
  <div>
    <div id="share_colorBox"></div>
    <p>PPT 만들기</p>
  </div>
  <!-- hover 시 보이는 하단 영역 -->
  <div>
    <!-- 공유자 프로필(사진, 이름, 메일) -->
    <img src="" alt="profile_img">
    <p>박신욱</p>
    <p>vo0922@naver.com</p>
    <!-- 공유받은 카테고리 이름 -->
    <p>치킨앤 맥주조</p>
    <!-- 해시태그 -->
    <p>#헤븐트리 #과제 #테크평가기수제</p>
  </div>
</div>