<script src="https://code.jquery.com/jquery-3.3.1.min.js" 
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" 
        crossorigin="anonymous">
</script> 
<script defer src="/javascripts/dashboard/todayScheduleChart.js"></script>
<link rel="stylesheet" href="/stylesheets/dashboard/todayScheduleChart.css">
<div>
  <h1>오늘 일정 완료율</h1>
  <p>전체 일정 갯수 : </p><p id="scheduleCount"></p>
</div>
<div id="doneRatePoint">
  <!-- data-percentage에 넣고 싶은 값을 넣기 -->
  <!-- <svg class="radial-progress" data-percentage="${doneRatePoint}" viewBox="0 0 80 80"> -->
    <circle class="incomplete" cx="40" cy="40" r="35"></circle>
    <!-- 일정 완료율 표시 bar -->
    <circle class="complete" cx="40" cy="40" r="35" style="stroke-dashoffset: 39.58406743523136;"></circle>
    <!-- 일정 완료율 텍스트 -->
    <text class="percentage" x="50%" y="57%" transform="matrix(0, 1, -1, 0, 80, 0)">82%</text>
  </svg>
</div>