<style>
    .lineAlert {
        position: absolute;
        top: 800px;
        left: 30%;
        width: 40%;
        background-color: black;
        padding: 20px;
        opacity:0.6;
        color: white;
        border-radius: 5px;
        display: none;
    }
</style>
<div id="lineAlert" class="lineAlert"></div>
