<link rel='stylesheet' href='/stylesheets/modal/scheduleModal.css'/>
<script defer src="/javascripts/schedule/kakaoMap.js"></script>
<script defer src="/javascripts/schedule/scheduleModal.js"></script>
<div id="scheduleModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="scheduleModalDone()"><i class="fa-regular fa-circle-xmark"></i></span>
        <h3>일정 모달</h3>
        <%- include('./kakaoMap.ejs') %>
    </div>
</div>