<link rel='stylesheet' href='/stylesheets/schedule/scheduleModal.css'/>
<script defer src="/javascripts/schedule/kakaoMap.js"></script>
<script defer src="/javascripts/schedule/tagModal.js"></script>
<div id="scheduleModal" class="modal">
    <div id="scheduleSubmitModal">
        <%- include('./scheduleSubmitModal.ejs') %>
    </div>
</div>