<div class="modal-content">
    <span class="close" onclick="scheduleModalDone()">
        <i class="fa-regular fa-circle-xmark fa-xl close_icon"></i>
    </span>
    <div id="title"></div>
    <div id="startDate"></div>
    <div id="endDate"></div>
    <div id="content"></div>
    <div id="priority"></div>
    <div id="editOpenButton"></div>
    <div id="deleteButton"></div>
</div>
