<link rel='stylesheet' href='/stylesheets/schedule/scheduleModal.css'/>
<script defer src="/javascripts/schedule/kakaoMap.js"></script>
<script defer src="/javascripts/schedule/scheduleModal.js"></script>
<div id="scheduleModal" class="modal">
    <div class="modal-content">
        <!-- 닫기 버튼 -->
        <span class="close" onclick="scheduleModalDone()">
            <i class="fa-regular fa-circle-xmark fa-xl close_icon"></i>
        </span>
        <h3 class="hidden">일정 모달</h3>
        <!-- 일정 제목 -->
        <div class="schedule">
            <label for="schedule_title">
                <i class="fa-sharp fa-solid fa-plus fa-xl schedule_title_icon"></i>
            </label>
            <!-- 최대 200자까지만 표시, alert 띄워주기! -->
            <input type="text" id="schedule_title" name="schedule_title" placeholder="일정 제목을 입력해 주세요." maxlength="200"/>
        </div>
        <!-- 시작일 -->
        <div class="schedule">
            <label for="schedule_start_day"><i class="fa-regular fa-clock"></i></label>
            <input type="datetime-local" id="schedule_start_day" name="schedule_start_day"/>
        </div>
        <!-- 종료일 -->
        <div class="schedule">
            <label for="schedule_end_day"><i class="fa-sharp fa-solid fa-clock"></i></label>
            <input type="datetime-local" id="schedule_end_day" name="schedule_end_day"/>
        </div>
        <!-- 일정 내용 -->
        <div class="schedule">
            <label for="schedule_content"><i class="fa-regular fa-memo"></i></label>
            <textarea id="schedule_content" name="schedule_content" placeholder="일정에 대한 상새 내용을 입력해 주세요."></textarea>
        </div>
        <!-- 태그 입력 -->
        <div class="schedule">
            <label for="schedule_tag"><i class="fa-sharp fa-solid fa-hashtag"></i></label>
            <textarea id="schedule_tag" name="schedule_tag" placeholder="#해시태그"></textarea>
        </div>
        <!-- 우선순위 -->
        <div class="schedule">
            <label for="schedule_priority">우선 순위</label>
            <!-- 0~5까지 설정 가능, 기본값은 0 -->
            <input type="range" id="schedule_priority" name="schedule_priority"
            min="0" max="5" value="0" step="1" 
            oninput="schedule_priority_num.value = schedule_priority.value"/>
            <output  id="schedule_priority_num">0</output>
        </div>
        <!-- 주소 옵션 -->
        <div class="schedule">
            <!-- checkbox 커스텀하기! check가 true일 땐 이 이미지, false일땐 저 이미지 -->
            <input type="checkbox" id="schedule_address_q" name="schedule_address_q" onclick="show_map()"/>
            <label for="schedule_address_q">주소를 추가하시겠습니까?</label>
        </div>
        <!-- 저장 btn -->
        <div>
            <button>저장</button>
        </div>

        <%- include('./kakaoMap.ejs') %>
    </div>
</div>
<script>
    // 체크박스 상태가 체크드 상태가 아니면,
    // 지도 i 태그를 띄워줘라 
    let cb = document.getElementById('schedule_address_q').checked
    if(cb == false){
        document.getElementById('schedule_address_q').innerHTML = '<i class="fa-sharp fa-solid fa-location-crosshairs"></i>'
    }else{
        document.getElementById('schedule_address_q').innerHTML = '<i class="fa-sharp fa-solid fa-location-crosshairs-slash"></i>'
    }
</script>