<!-- 
    담당자 : 이승현, 박신욱
    주요 기능 : 일정 생성 및 편집, View 모달창입니다.
 -->
<link rel='stylesheet' href='/stylesheets/schedule/scheduleModal.css'/>
<script defer src="/javascripts/schedule/kakaoMap.js"></script>
<script defer src="/javascripts/schedule/tagModal.js"></script>
<div id="scheduleModal" class="modal">
    <div id="scheduleSubmitModal">
        <%- include('./scheduleSubmitModal.ejs') %>
    </div>
    <%- include('./lineAlert.ejs') %>
</div>