<link rel='stylesheet' href='/stylesheets/schedule/tagModal.css'/>
<div id="scheduleModal" class="modal">
    <div class="modal-content">
        <h3>태그 모달</h3>
        <div id="tagModalList"></div>
    </div>
</div>