<link rel='stylesheet' href='/stylesheets/calendar/scheduleListModal.css'/>
<div id="scheduleListModal">
    <div class="modal-content">
    <span class="close" onclick="scheduleListModalDone()">
        <i class="fa-regular fa-circle-xmark fa-xl close_icon"></i>
    </span>
        <div id="scheduleDiv"></div>
    </div>
</div>
