<link rel='stylesheet' href='/stylesheets/calendar/scheduleListModal.css'/>
<div id="scheduleListModal">
    <div class="modal-content_scheduleList">
        <span class="close close_icon_scheduleListModal" onclick="scheduleListModalDone()">
            <i class="fa-regular fa-circle-xmark fa-xl close_icon"></i>
        </span>
        <div class="sort">
            <!-- 일정 목록 정렬 필터 -->
            <i class="fa-solid fa-filter scheduleListSortDiv_icon" id="scheduleListSortDiv_icon"></i>
            <p class="date" id="nows"></p>
        </div>
        <!-- 일정 목록 -->
        <div class="vertical-line">
            <ul id="scheduleDiv"></ul>

        </div>
    </div>
</div>
