<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>calendar</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel='stylesheet' href='/stylesheets/calendar/scheduleViewModal.css'/>
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/calendar/mobisCalendar/mobiscroll.javascript.min.css">
    <script src="/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.33/moment-timezone-with-data.min.js"></script>
    <script src="/javascripts/calendar/mobisCalendar/mobiscroll.javascript.min.js"></script>
    <script defer src="/javascripts/calendar/mobisCalendar/calendar.js"></script>
    <script defer src="/javascripts/calendar/scheduleViewModal.js"></script>
    <script defer src="/javascripts/calendar/calendar.js"></script>
</head>
<body>
<!--=============== HEADER ===============-->
<%- include('layout/header.ejs'); %>
<%- include('calendar/scheduleViewModal.ejs') %>
    <div style="height:800px">
        <div id="calendar"></div>
    </div>
<div id="calendar_section">
    <!--=============== CATEGORY ===============-->
    <div id="calendar_section1" class="calendar_section">
        <%- include('./category/categoryModal.ejs') %>
        <!-- 카테고리 모달 띄우는 + 버튼 -->
        <span class="open" onclick="categoryModalOpen()">
            <i class="fa-sharp fa-solid fa-plus"></i>
            <!-- span tag안에 include된 component가 있어서 스팬에 모달창 컴포넌트가 span의 categoryModalOpen onClick함수를 실행해버림 -->
        </span>
    </div>
    <!--=============== CALENDAL ===============-->
    <div id="calendar_section2" class="calendar_section">
        <p>test test</p>
    </div>
</div>

</body>
</html>
