<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/jquery-3.6.1.min.js"></script>
    <script src="/javascripts/login.js"></script>
</head>
<body>
<h1>로그인 페이지</h1>
<button onclick="location.href = '/login/naver'">네이버</button>
<button onclick="location.href = '/login/kakao'">카카오</button>
</body>
</html>
