<!-- 
    담당자 : 이승현, 박신욱
    주요 기능 : 태그 통계 페이지입니다.
 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <!--================= CSS =================-->
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="stylesheet" href="/stylesheets/statistics.css">
    <link rel="stylesheet" href="/stylesheets/statistics/noneComponent.css">
    <!--=============== FONTAWESOME ===============-->
    <link rel="stylesheet" href="/stylesheets/fontawesome-free-6.2.0-web/css/all.min.css">
    <!--=============== JQUERY ===============-->
    <script src="/jquery-3.6.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer src="/javascripts/statistics/tagChart.js"></script>
</head>
<body>
<!--=============== HEADER ===============-->
<%- include('layout/header.ejs'); %>
<div class="statisticsPage">
    <div class="topStatistics">
        <!-- 태그 통계 -->
        <div class="tagChart">
            <%- include('statistics/tagChart.ejs'); %>
        </div>
        <!-- 태그 클릭 시 해당 태그가 포함된 일정 목록 -->
        <div class="scheduleList">
            <%- include('statistics/scheduleArea.ejs'); %>
        </div>
    </div>
    <!-- 태그 순위 -->
    <div id="myTagRank" class="myTagRank">
        <div id="myTagHeader" class="myTagHeader">

        </div>
        <div id="myTagContent">
            <div class="myTagRankHeader">
                <p>태그 순위</p>
            </div>
            <div class="tagRankGridDiv">
                <div id="tagRankGrid" class="tagRankGrid">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
