<link rel='stylesheet' href="/stylesheets/calendar/category/categoryTap.css"/>
<script defer src="/javascripts/calendar/category/categoryTap.js"></script>
<div class="tapContainer">
    <ul class="tabs">
        <li class="tab-link current" data-tab="tab-1" onclick="tabClick(this)">전체</li>
        <li class="tab-link" data-tab="tab-2" onclick="tabClick(this)">나의 일정</li>
        <li class="tab-link" data-tab="tab-3" onclick="tabClick(this)">공유 일정</li>
    </ul>

    <div id="tab-1" class="tab-content current">
        <%- include('./categoryArea.ejs') %>
        <%- include('./shareScheduleTree.ejs') %>
    </div>
    <div id="tab-2" class="tab-content">
        <%- include('./shareScheduleTree.ejs') %>
    </div>
    <div id="tab-3" class="tab-content">
        <%- include('./shareScheduleTree.ejs') %>
    </div>
</div>


<script>
    function tabClick(e) {
        let tab_link = document.getElementsByClassName('tab-link')
        for (let i = 0; i < tab_link.length; i++) {
            tab_link[i].classList.remove('current');
        }
        e.classList.add('current');
        let tab_id = e.getAttribute('data-tab');
        let tab_content = document.getElementsByClassName('tab-content');
        for (let i = 0; i < tab_content.length; i++) {
            tab_content[i].classList.remove('current');
        }
        document.getElementById(tab_id).classList.add('current');
    }
</script>
