<!-- <link rel='stylesheet' href='/stylesheets/category/categoryNavber.css'/>
<script defer src="/javascripts/category/categoryNavber.js"></script>
<script src="/jquery-3.6.1.min.js"></script>

<div id="nav">
  <h1>3단 트리 구조</h1>
  <ul>
    <li><a href="#none">1Depth</a>
      <ul>
        <li><a href="#none">- 2Depth</a>
          <ul>
            <li><a href="#none">- 3Depth</a></li>
            <li><a href="#none">- 3Depth</a></li>
            <li><a href="#none">- 3Depth</a></li>
          </ul>
        </li>
        <li><a href="#none">- 2Depth</a>
          <ul>
            <li><a href="#none">- 3Depth</a></li>
            <li><a href="#none">- 3Depth</a></li>
          </ul>
        </li>
        <li><a href="#none">- 2Depth</a></li>
        <li><a href="#none">- 2Depth</a></li>
      </ul>
    </li>
    
    <li><a href="#none">1Depth</a>
      <ul>
        <li><a href="#none">- 2Depth</a>
          <ul>
            <li><a href="#none">- 3Depth</a></li>
            <li><a href="#none">- 3Depth</a></li>
          </ul>
        </li>
        <li><a href="#none">- 2Depth</a>
          <ul>
            <li><a href="#none">- 3Depth</a></li>
            <li><a href="#none">- 3Depth</a></li>
            <li><a href="#none">- 3Depth</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li><a href="#none">1Depth</a>
      <ul>
        <li><a href="#none">- 2Depth</a></li>
        <li><a href="#none">- 2Depth</a></li>
      </ul>
    </li>
    <li><a href="#none">1Depth</a>
      <ul>
        <li><a href="#none">- 2Depth</a></li>
        <li><a href="#none">- 2Depth</a></li>
      </ul>
    </li>
  </ul>
</div> -->