<div class="option_schedule">
    <span class="option_schedule_me">나의 일정</span>
</div>
<div id="myScheduleList" class="myScheduleList_class">
    <% mySchedule.map((data)=>{ %>
        <div class="myScheduleList" onclick="scheduleViewModalOpen('<%= data._id %>')">
            <p><%= data.title %></p>
        </div>
    <% }) %>
</div>