<link rel='stylesheet' href='/stylesheets/category/categoryModal.css'/>
<script defer src="/javascripts/category/categoryModal.js"></script>
<div id="categoryModal" class="category-modal">
    <div class="category-modal-content">
        <!-- 닫기 버튼 -->
        <span class="close" onclick="categoryModalDone()">
            <i class="fa-regular fa-circle-xmark fa-xl close_icon"></i>
        </span>
        <h3 class="">카테고리 모달</h3>
        
        <!-- 저장 btn -->
        <div class="category category_save">
            <button class="category_save_btn">등록</button>
        </div>

    </div>
</div>