<link rel='stylesheet' href='/stylesheets/category/tagModal.css'/>
<link rel='stylesheet' href='/stylesheets/schedule/tagModal.css'/>
<div id="categoryTagModal" class="tagModal">
    <div class="tagModal-content">
        <h3 class="hidden">태그 모달</h3>
        <p id="tagModal-title">태그</p>
        <div id="categoryTagList"></div>
    </div>
</div>