<link rel='stylesheet' href='/stylesheets/category/userShareModal.css'/>
<script defer src="/javascripts/category/userShareModal.js"></script>
<!-- 나의 정보 -->
<div class="user_share">
  <div class="user_share_img">
    <img src="https://ssl.pstatic.net/static/pwe/address/img_profile.png">
  </div>
  <div class="user_share_info">
    <p>이승현</p>
    <p>ssoong12@naver.com</p>
  </div>
</div>
<!-- 사용자 검색란 -->

<!-- 사용자 리스트(목록) -->

<!-- 대표 이미지 리스트 -->

<!-- 저장 버튼 -->