<link rel='stylesheet' href='/stylesheets/calendar/category/userShareModal.css'/>
<script defer src="/javascripts/calendar/category/userShareModal.js"></script>
<!-- 나의 정보 -->
<div class="user_share user_share_me">
  <div class="user_share_img">
    <img src="https://ssl.pstatic.net/static/pwe/address/img_profile.png">
  </div>
  <div class="user_share_info">
    <p class="user_share_info_name">이승현</p>
    <p class="user_share_info_email">ssoong12@naver.com</p>
  </div>
</div>
<!-- 사용자 검색란 -->
<div class="user_share user_share_search">
  <input type="text" class="user_share_search_text" placeholder="검색어 입력">
  <button class="user_share_search_btn">검색</button>
</div>
<!-- 사용자 리스트(목록) -->
<div class="user_share_userList_all">
  <div class="user_share user_share_userList">
    <input type="checkbox" id="user_share_userList_cb" name="user_share_userList_cb" class="user_share_userList_cb"/>
    <div class="user_share_userList_img">
      <img src="https://ssl.pstatic.net/static/pwe/address/img_profile.png">
    </div>
    <p class="user_share_userList_name">박신욱</p>
    <p class="user_share_userList_email">vo0922@naver.com</p>
  </div>
  <div class="user_share user_share_userList">
    <input type="checkbox" id="user_share_userList_cb" name="user_share_userList_cb" class="user_share_userList_cb"/>
    <div class="user_share_userList_img">
      <img src="https://ssl.pstatic.net/static/pwe/address/img_profile.png">
    </div>
    <p class="user_share_userList_name">박신욱</p>
    <p class="user_share_userList_email">vo0922@naver.com</p>
  </div>
  <div class="user_share user_share_userList">
    <input type="checkbox" id="user_share_userList_cb" name="user_share_userList_cb" class="user_share_userList_cb"/>
    <div class="user_share_userList_img">
      <img src="https://ssl.pstatic.net/static/pwe/address/img_profile.png">
    </div>
    <p class="user_share_userList_name">박신욱</p>
    <p class="user_share_userList_email">vo0922@naver.com</p>
  </div>
  <div class="user_share user_share_userList">
    <input type="checkbox" id="user_share_userList_cb" name="user_share_userList_cb" class="user_share_userList_cb"/>
    <div class="user_share_userList_img">
      <img src="https://ssl.pstatic.net/static/pwe/address/img_profile.png">
    </div>
    <p class="user_share_userList_name">박신욱</p>
    <p class="user_share_userList_email">vo0922@naver.com</p>
  </div>
  <div class="user_share user_share_userList">
    <input type="checkbox" id="user_share_userList_cb" name="user_share_userList_cb" class="user_share_userList_cb"/>
    <div class="user_share_userList_img">
      <img src="https://ssl.pstatic.net/static/pwe/address/img_profile.png">
    </div>
    <p class="user_share_userList_name">박신욱</p>
    <p class="user_share_userList_email">vo0922@naver.com</p>
  </div>
  
</div>

<!-- 대표 이미지 리스트 -->

<!-- 저장 버튼 -->