@import url(common.css);

body {
  background-color: rgb(228, 228, 228);
}
.login_section {
  width: 28rem;
  height: 40rem;
  background-color: var(--body-color);
  margin: 0 auto;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.422);
  position: relative;
  top: 5rem;
  border-radius: 20px;
}
.login_image {
  height: 65%;
}
.login {
  display: flex;
  flex-direction: column;
  height: 25%;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.naver {
  width: calc(750px / 4);
  height: calc(200px / 4);
  background-image: url(../images/naver_login_btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.kakao {
  width: calc(366px / 1.95);
  height: calc(90px / 1.95);
  background-image: url(../images/kakao_login_btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  
}

.naver:hover, .kakao:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* 로그인 이미지 슬라이더 */
.slider{
  position: relative;
  max-width: 40rem; 
  height: 26.625rem; 
  margin: 0 auto;
  overflow: hidden;
}
.slide{ 
  position: absolute;
  top:0;
  width: 100%;
  height: 26.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
.slide > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 20px;
}
button{
  background: none;
  border: none;
}
button .fas{
  color: rgba(255, 255, 255, .5);
}
.btn-slide{
  position:absolute;
  top:50%;
  z-index: 10;

  height: 5.5rem;
  width: 5.5rem;
  cursor: pointer;
}
/* .prev{
  left:3rem;
  transform: translate(-50%, -50%);
}
.next{
  right: 3rem;
  transform: translate(50%, -50%); 
} */
.dots-container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 95%;
}
.dot{
  width: 25px;
  height: 5px;
  margin: 15px 5px;
  border-radius: .5rem;
  background: rgba(39,39,39, .5);
  cursor: pointer;
}
.dot.active{
  background:#272727;
}
