.statisticsPage {
    width: 100%;
    height: 94vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tagChart {
    width: 80%;
    height: 35vh;
    background-color: #FFFFFF;
    margin-bottom: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.myTagRank {
    width: 80%;
    height: 48vh;
    background-color: #FFFFFF;

}

.tagRankGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}