/* 나의 카테고리 */
.option_category {
  display: flex;
  align-items: center;
  height: 24px;
  padding-bottom: 10px;
  border-bottom: 1px solid #979797;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
}
.option_category_me {
  font-size: var(--h3-font-size);
}

.categoryList_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}