
.tapContainer {
    position: relative;
    top:120px;
    margin: 0 auto;
    width:90%;
    font-size: 16px;
    color: var(--text-color);
}

ul.tabs {
    background-color: var(--body-color);
}

ul.tabs li {
    background: none;
    color: var(--text-color);
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current {
    background: rgb(243, 243, 243);
    color: #000;
    border-radius: 8px;
}

.tab-content {
    display: none;
    padding-top: 15px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tab-content.current {
    display: block;
}

.myCategoryList {
    width: 100%;
}

.categoryList{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.categoryList:hover > .categoryIcon{
    display: block;
}

.categoryList > p {
    cursor: pointer;
}

.categoryIcon > i {
    margin-right: 5px;
    cursor: pointer;
}

.categoryList > .categoryIcon {
    display: none;
}
