/*
  담당자 : 이승현, 박신욱
  주요 기능 : [캘린더] - 카테고리 영역의 탭 CSS
*/
.tapContainer {
    position: relative;
    top: 80px;
    margin: 0 auto;
    width: 90%;
    height: 80%;
    font-size: 16px;
    color: var(--text-color);
}

ul.tabs {
    background-color: var(--body-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}

ul.tabs li {
    width: 33.3333%;
    background: none;
    color: var(--text-color);
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;

}

ul.tabs li:nth-of-type(1), ul.tabs li:nth-of-type(2) {
    border-right: 1px solid #ababab;
}

ul.tabs li.current {
    background: rgb(243, 243, 243);
    color: #000;
    /* border-radius: 8px; */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab-content {
    display: none;
    padding-top: 26px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.tab-content.current {
    display: block;
}

.myCategoryList {
    width: 100%;
    overflow: hidden;
    max-height: 135px;
    min-height: 35px;
}

.myCategoryList:hover {
    overflow: auto;
}

/* 전체 */
/* 나의 카테고리 */
.categoryList {
    width: 100%;
    display: flex;
    /* flex-direction: row;
    justify-content: space-between; */
    padding: 10px;
}

.categoryList:hover {
    color: #00AACC;
    background-color: #d2d2d2;
}

.categoryList:hover > .categoryIcon {
    display: block;
}

.categoryList_div {
    cursor: pointer;
}

.categoryIcon > i {
    margin-right: 5px;
    cursor: pointer;
}

.categoryList > .categoryIcon {
    display: none;
    float: right;
}

.myCategoryList_before {
    content: '';
    display: inline-block;
    background-color: #fdff7d;
    width: 6px;
    height: 25px;
    margin-right: 10px;
}

.option_schedule {
    display: flex;
    align-items: center;
    height: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #979797;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    margin-top: 23px;
}

.option_schedule_me {
    font-size: var(--h3-font-size);
}

.myScheduleList_class {
    width: 100%;
    /* padding-top: 10px; */
    overflow: hidden;
    height: 350px;
}

.myScheduleList_class:hover {
    overflow-y: auto;
}

.myScheduleList {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    padding: 10px;
}

.myScheduleList::before {
    content: '';
    width: 9px;
    height: 9px;
    background-color: #f08080;
    border-radius: 50%;
}

.myScheduleList:hover {
    color: #00AACC;
    background-color: #d2d2d2;
    cursor: pointer;
}

/* scrollbar custom */
.myCategoryList::-webkit-scrollbar, .myScheduleList_class::-webkit-scrollbar {
    width: var(--webkit-scrollbar-width);
}

.myCategoryList::-webkit-scrollbar-thumb, .myScheduleList_class::-webkit-scrollbar-thumb {
    background-color: var(--webkit-scrollbar-thumb-bg);
    border-radius: var(--webkit-scrollbar-thumb-br);
}

.myCategoryList::-webkit-scrollbar-track, .myScheduleList_class::-webkit-scrollbar-track {
    background-color: var(--webkit-scrollbar-track-bg);
    border-radius: var(--webkit-scrollbar-track-br);
    /* box-shadow: inset 0px 0px 5px white; */
}

.myScheduleSearchArea > input[type='text'] {
    width: 100%;
    height: 100%;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border: solid 1px transparent;
    border-radius: 4px;
    background-color: #FFFFFF;
    transition: all 0.2s ease;
    margin: 5px;
}

.myScheduleSearchArea > input[type='text']:focus {
    border-color: #1b5ac2;
}

.myScheduleSearchArea > input[type='text']:hover {
    background-color: #eeeeee;
}

.myScheduleSearchArea {
    display: flex;
    align-items: center;
}

.fa-rotate-right:hover {
    opacity: 0.5;
    cursor: pointer;
}