/* 
  담당자 : 이승현
  주요 기능 : [캘린더 : 카테고리] - 사용자 공유 옵션 체크 시 보이는 사용자 목록 UI 설계 및 CSS code 작성
*/
/* 나의 정보 */
.user_share_me {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  padding: 1rem 0;
}
.user_share_img img {
  border-radius: 50%;
  width: 100px;
}
/* 사용자 검색란 */
.user_share_search {
  height: 45px;
  width: 100%;
  border: 1px solid #1b5ac2;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.user_share_search_text {
  font-size: 16px;
  width: 325px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}
.user_share_search_btn {
  width: 15%;
  height: 100%;
  border: 0px;
  background-color: #1b5ac2;
  outline: none;
  float: right;
  color: #ffffff;
}
/* 사용자 리스트(목록) */
.user_share_userList_all {
  height: 350px;
  overflow: auto;
  box-shadow: 0 0 10px #ababab;
  padding: 0 1rem;
}
.user_share_userList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1.5rem;
  padding: .5rem 0;
  border-bottom: 1px solid #e1e5ec;
}
.user_share_userList_img img {
  border-radius: 50%;
  max-height: 50px;
  max-width: 50px;
  width: 50px;
  height: 50px;
}
.user_share_info_name, .user_share_userList_name {
  font-size: 18px;
  font-weight: bold;
}

/* 스크롤바 커스텀 */
.user_share_userList_all::-webkit-scrollbar, .myScheduleList_class::-webkit-scrollbar {
  width: var(--webkit-scrollbar-width);
}

.user_share_userList_all::-webkit-scrollbar-thumb, .myScheduleList_class::-webkit-scrollbar-thumb {
  background-color: var(--webkit-scrollbar-thumb-bg);
  border-radius: var(--webkit-scrollbar-thumb-br);
}

.user_share_userList_all::-webkit-scrollbar-track, .myScheduleList_class::-webkit-scrollbar-track {
  background-color: var(--webkit-scrollbar-track-bg);
  border-radius: var(--webkit-scrollbar-track-br);
}