
.shareScheduleList_div {
  height: 35vh;
  overflow: auto;
}
.shareScheduleList_header {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.shareScheduleList_header > .shareScheduleHeaderLeft {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.shareScheduleList_header > .shareScheduleHeaderRight {
  position: relative;
}

.shareScheduleList_header > .shareScheduleHeaderRight > i {
  font-size: 18px;
}

.shareScheduleList_header > .shareScheduleHeaderRight > i:hover {
  opacity: 0.5;
  cursor: pointer;
}

.filterMenu {
  display: none;
  width: 100px;
  height: 130px;
  position: absolute;
  text-align: center;
}

.filterMenu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
  right: -20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid #c1c1c19e;
  height: fit-content;
}

.filterMenu.active > li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.filterMenu.active > li:nth-of-type(2){
  border-top : 1px dotted #cccccc78;
  border-bottom : 1px dotted #cccccc78;
}

.filterMenu.active > li:hover {
  background-color: #dadada;
  cursor: pointer;
}


.shareScheduleList_header h1 {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}
#shareScheduleCount {
  font-size: 18px;
  font-weight: bold;
  color: #1b5ac2;
}
.shareScheduleHeaderLeft > i {
  width: 35px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(247 243 168 / 84%);
  padding: 4px;
  border-radius: 10px;
}

.shareScheduleList_content {
  background-color: #c5c5d514;
  padding: 12px;
  display: flex;
  column-gap: 1rem;
  margin: 15px 10px;
  box-shadow: 0 0 7px #8d8b8b8c;
  border-radius: 10px;
  height: 7vh;
  transition: all 0.3s ease;
  cursor: pointer;
}

.share_colorBox {
  width: 10px;
  /* height: 80px; */
  background-color: #1b5ac2;
}
.share_contentBox {
  width: 93%;
}
/* 상단 */
.shareScheduleList_content_top {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  column-gap: 1rem;
  padding-bottom: 10px;
}
.shareScheduleList_content_top_title {
  font-weight: bold;
  font-size: 20px;
}

.shareScheduleList_content_top_tag {
  color: #1b5ac2;
  font-weight: bold;
}

/* 하단 */
.shareScheduleList_content_bottom {
  display: flex;
  align-items: center;
  border-top: 1px dashed #38383821;;
  padding: 10px 0;
  height: 0;
  text-align: center;
  justify-content: flex-start;
  opacity: 0;
}
.shareScheduleList_content_bottom.hover {
  opacity: 1;
  height: fit-content;
  transition: all 0.5s ease;

}

.share_user_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 1rem 0 1rem;
  box-shadow: 0 0 5px #434343;
}
.share_user_profile {
  border-left: 1px dashed #38383821;
  border-right: 1px dashed #38383821;
  padding: 0 1rem;
}
.share_user_profile p {
  text-align: center;
}
.share_user_name {
  /* font-weight: bold; */
}
.share_category {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  /* font-weight: bold; */

}

/* ===== checkbox custom하기 ===== */
/* The shareScheduleCheckBox */
.shareScheduleCheckBox {
  /* position: relative;
  cursor: pointer; */
  font-size: var(--nomal-font-size);
  user-select: none;
  display: flex;
  align-items: center;
}

/* Hide the browser's default checkbox */
.shareScheduleCheckBox input {
  /* position: absolute; */
  opacity: 0;
  /* cursor: pointer; */
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.shareScheduleCheckBox_checkmark {
  /* position: absolute; */
  /* top: 5px;
  right: 1px; */
  height: 25px;
  width: 25px;
  background-color: #eee;
  box-shadow: inset 1px 2px 4px #3333337a;
  border-radius: 50%;

}

/* When the checkbox is checked, add a blue background */
.shareScheduleCheckBox input:checked ~ .shareScheduleCheckBox_checkmark {
  background-color: #fff;
}

/* Create the shareScheduleCheckBox_checkmark/indicator (hidden when not checked) */
.shareScheduleCheckBox_checkmark:after {
  content: "";
  display: none;
}

/* Show the shareScheduleCheckBox_checkmark when checked */
.shareScheduleCheckBox input:checked ~ .shareScheduleCheckBox_checkmark:after {
  display: block;
}

/* Style the shareScheduleCheckBox_checkmark/indicator */
.shareScheduleCheckBox .shareScheduleCheckBox_checkmark:after {
  content: "";
  /* left: 9px;
  top: 5px; */
  width: 25px;
  height: 25px;
  background-image: url(/images/checked.png);
  background-size: 25px;
  background-repeat: no-repeat;
}

.shareScheduleList_div::-webkit-scrollbar {
  width: var(--webkit-scrollbar-width);
}
.shareScheduleList_div::-webkit-scrollbar-thumb {
  background-color: var(--webkit-scrollbar-thumb-bg);
  border-radius: var(--webkit-scrollbar-thumb-br);
}
.shareScheduleList_div::-webkit-scrollbar-track {
  background-color: var(--webkit-scrollbar-track-bg);
  border-radius: var(--webkit-scrollbar-track-br);
  /* box-shadow: inset 0px 0px 5px white; */
}