
.shareScheduleList_div {
  max-height: 34vh;
  overflow: auto;
}
.shareScheduleList_header {
  display: flex;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.shareScheduleList_header > .shareScheduleHeaderLeft {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.shareScheduleList_header > .shareScheduleHeaderRight {
  position: relative;
}

.shareScheduleList_header > .shareScheduleHeaderRight > i {
  font-size: 18px;
}

.shareScheduleList_header > .shareScheduleHeaderRight > i:hover {
  opacity: 0.5;
  cursor: pointer;
}

.filterMenu {
  display: none;
  width: 100px;
  height: 120px;
  position: absolute;
  text-align: center;
}

.filterMenu.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 15;
  padding: 5px;
  right: -20px;
  border-radius: 20px;
  background-color: #FFFFFF;
  border: 1px solid #eeeeee;
}

.filterMenu.active > li {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 20px
}

.filterMenu.active > li:hover {
  background-color: #dadada;
  cursor: pointer;
}


.shareScheduleList_header h1 {
  font-weight: bold;
  font-size: 20px;
  color: var(--text-color);
}
#shareScheduleCount {
  font-size: 18px;
  font-weight: bold;
  color: #1b5ac2;
}
.shareScheduleHeaderLeft > i {
  width: 35px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(247 243 168 / 84%);
  padding: 4px;
  border-radius: 10px;
}

.shareScheduleList_content {
  width: 96%;
  background-color: #cac9ff12;
  padding: 12px;
  display: flex;
  column-gap: 1rem;
  margin: 15px 10px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
.share_colorBox {
  width: 10px;
  height: 80px;
  background-color: #1b5ac2;
}
.share_contentBox {
  width: 100%;
}
/* 상단 */
.shareScheduleList_content_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 1rem;
  padding-bottom: 10px;
}
.shareScheduleList_content_top_title {
  font-weight: bold;
  font-size: 20px;
}

.shareScheduleList_content_top_tag {
  color: #1b5ac2;
  font-weight: bold;
}

/* 하단 */
.shareScheduleList_content_bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid black;
  height: 55px;
  column-gap: 25px;
}
.share_user_img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0 0 0 1rem;
}
.share_user_profile {
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 0 1rem;
}
.share_user_profile p {
  text-align: center;
}
.share_category {
  /* padding: 0 1rem; */
}