#todayScheduleList_content {
  background-color: #3d4e56fa;

}
.dashboard_content h1 {
  font-size: var(--h3-font-size);
}
.todayScheduleList_container {
  display: flex;
  flex-direction: row;
}

.draggable {
  width: 90%;
  height: 70px;
  border: none;
  border-radius: 8px;
  margin: 12px;
  cursor: move;
  font-size: 16px;
  background: #eaeaea4f;
}

.scheduleContainer {
  width: 500px;
  margin: 10px;
  padding: 10px;
  background-color: #b5c1dc57;
  border-radius: 8px;
}

.draggable.dragging {
  opacity: 0.5;
}

.progress_header {
  display: flex;
  column-gap: 11px;
}