svg.radial-progress {
  height: 28vh;
  max-width: 300px;
  padding: 2em;
  transform: rotate(-90deg);
  width: 100%;
  margin-top: 1rem;
}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129; 
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129; }

svg.radial-progress .text {
  fill: #000;
  text-anchor: middle;
}
/* 원 색상 */
svg.radial-progress circle { stroke: #5697ed; }

/* 승현 custom */
.todayScheduleChart_header {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.todayScheduleChart_header p {
  font-weight: bold;
  font-size: 20px;
}
.todayScheduleChart_count {
  display: flex;
  align-items: center;
  justify-content: center;
  /* column-gap: 10px; */
}
#scheduleCount {
  margin-left: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #1b5ac2;
}

text {
  font-size: 10.5px;
}

#doneRatePoint {
  display: flex;
  align-items: center;
  justify-content: center;
}
.todayScheduleChart_header > i {
  width: 35px;
  height: 30px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(190, 205, 255, 0.502);
  padding: 4px;
  border-radius: 10px;
}