<!--
    담당자 : 박신욱, 이승현
    주요 기능 : 카테고리 영역의 나의 일정 영역
 -->
<div class="option_schedule">
    <span class="option_schedule_me">나의 일정</span>
</div>
<div id="myScheduleList" class="myScheduleList_class">
    <% mySchedule.map((data)=>{ %>
        <div class="myScheduleList" onclick="scheduleViewModalOpen('<%= data._id %>')">
            <p><%= data.title.length > 10 ? data.title.substr(0, 10) + '...' : data.title %></p>
        </div>
    <% }) %>
</div>