.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5.5% auto;
    padding: 20px;
    box-shadow: 0 0 10px #222222;
    border-radius: 20px;
    width: 25%;
    max-width: 1200px;
    height: auto;
    box-sizing: content-box;
    transition: all .4s;
}

#scheduleSubmitModal {
    display: none;
    width: auto;
}

.tagContent {
    position: relative;
}

.close {
    width: 100%;
}

.close_icon {
    float: right;
}

.schedule {
    height: 75px;
    border-bottom: 1px solid #e1e5ec;
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: var(--h3-font-size);
}

input[type="text"], input[type="datetime-local"], textarea {
    width: 90%;
    height: 70%;
    font: var(--body-font);
    color: var(--text-color);
    border: none;
}

input[type="text"], input[type="datetime-local"], textarea:disabled {
    background-color: #FFFFFF;
}

/* input 박스 클릭 시 생기는 테두리 제어하기 */
input[type="text"]:focus, input[type="datetime-local"]:focus, textarea:focus {
    outline: none;
}

input[type="range"] {
    width: 50%;
    height: 70%;
}


.schedule:nth-child(9) {
    border: none;
}

.schedule_save {
    justify-content: center;
    border: none;
    margin-top: 1rem;
}

.schedule_save_btn {
    width: 100px;
    height: 70%;
    background-color: #e1e5ec;
    color: var(--text-color);
    border-radius: 10px;
    font-size: var(--h3-font-size);
}

.schedule_delete_btn {
    width: 100px;
    height: 70%;
    background-color: #9907074d;
    color: var(--text-color);
    border-radius: 10px;
    font-size: var(--h3-font-size);
}

/* 지도 checkbox 클릭 시 바뀌는 css */
.show_address_modal-content {
    background-color: #fefefe;
    margin: 5.5% auto;
    padding: 20px;
    border: 5px solid #888;
    border-radius: 20px;
    width: 90%;
    max-width: 1200px;
    height: auto;
    box-sizing: content-box;
    transition: all .4s;
}

.modal_section_div {
    display: flex;
    justify-content: space-around;
}

.modal_section {
    width: 50%;
}

#modal_section1 {
    max-width: 510px;
}

.modal_section:last-of-type {
    border-left: 4px solid #d3d3d570;
    padding-left: 45px;
}

label[for="schedule_address_q"]:hover {
    color: #00AACC;
}

/* 진행도 select box */
.progress_selectBox {
    font-family: var(--body-font);
<<<<<<< HEAD
    font-size: 1.15rem;
    color: var(--text-color);
}

#scheduleProgress > .progress_option {
    display: flex;
    width: 100%;
    height: 36px;
    padding: 8px 10px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    background-color: #FFFFFF;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    font-family: var(--body-font);
    font-size: 1.15rem;
    color: var(--text-color);
}


.progress_option_div {
    border-radius: 2px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    box-sizing: border-box;
}

.progress-ing { /* 진행 */
    background-color: #e5f5ff;
}

.progress-done { /* 완료 */
    background-color: #ddf9f0;
}

.selectBox2 {
=======
>>>>>>> seunghyun_branch
    position: relative;
    z-index: 1;
    width: 140px;
    height: 35px;
    border-radius: 4px;
    cursor: pointer;
<<<<<<< HEAD
}

.selectBox2:before {
    content: '💜';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
=======
    border: 2px solid #0098fe;

  }
  
  .progress_selectBox:before {
    content: '>';
    position: absolute;
    top: 18%;
    transform: rotate(90deg);
    right: 10px; 
>>>>>>> seunghyun_branch
    z-index: -1;
}

<<<<<<< HEAD
.selectBox2:after {
=======
  .progress_selectBox:after {
>>>>>>> seunghyun_branch
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 35px;
<<<<<<< HEAD
    background: lightcoral;
}

.selectBox2 .label {
=======
  }
  
  .progress_selectBox .progress_label {
>>>>>>> seunghyun_branch
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0 none;
    outline: 0 none;
    padding-left: 10px;
    background: transparent;
    cursor: pointer;
<<<<<<< HEAD
}

.selectBox2 .optionList {
    position: absolute;
    top: 28px;
=======
  }
  
  .progress_selectBox .progress_optionList {
    position: absolute; 
    top: 35px;
>>>>>>> seunghyun_branch
    left: 0;
    width: 100%;
    background: #fff;
    color: var(--text-color);
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    max-height: 0;
    transition: .3s ease-in;
<<<<<<< HEAD
}

.selectBox2 .optionList::-webkit-scrollbar {
    width: 6px;
}

.selectBox2 .optionList::-webkit-scrollbar-track {
    background: transparent;
}

.selectBox2 .optionList::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 45px;
}

.selectBox2 .optionList::-webkit-scrollbar-thumb:hover {
    background: #303030;
}

.selectBox2.active {
    z-index: 10;
}

.selectBox2.active .optionList {
    max-height: 500px;
}

.selectBox2 .optionItem {
    border-bottom: 1px dashed rgb(170, 72, 72);
    padding: 5px 15px 5px;
    transition: .1s;
}

.selectBox2 .optionItem:hover {
    background: rgb(175, 93, 93);
}

.selectBox2 .optionItem:last-child {
    border-bottom: 0 none;
}
=======
  }
  
  .progress_selectBox .progress_optionList::-webkit-scrollbar {width: 6px;}
  .progress_selectBox .progress_optionList::-webkit-scrollbar-track {background: transparent; }
  .progress_selectBox .progress_optionList::-webkit-scrollbar-thumb {background: #303030; border-radius: 45px;}
  .progress_selectBox .progress_optionList::-webkit-scrollbar-thumb:hover {background: #303030;}
  
  .progress_selectBox.active {
      z-index: 10;
  }

  .progress_selectBox.active .progress_optionList {
    max-height: 500px;
  }
  
  .progress_selectBox .progress_optionItem {
    /* border-bottom: 1px dashed rgb(170, 72, 72);
    padding: 5px 15px 5px;
    transition: .1s; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    padding: 8px 10px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #222;
    background-color: #FFFFFF;
    cursor: pointer;

  }
  
  .progress_selectBox .progress_optionItem:hover {
    background: #e2e2e2;
  }
  
  .progress_selectBox .progress_optionItem:last-child {
    border-bottom: 0 none;
  }
  .progress_optionItem_name_div {
    border-radius: 2px;
    width: 48px;
  }
  .progress_optionItem_name {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .ing {
    /* 진행 */
    background-color: #e5f5ff;

  }
  .done {
    /* 완료 */
    background-color: #ddf9f0;
  }
>>>>>>> seunghyun_branch
