.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px #222222;
    border-radius: 20px;
    width: 25%;
    max-width: 1200px;
    height: auto;
    box-sizing: content-box;
    transition: all .4s;
}

#scheduleSubmitModal {
    display: none;
    width: auto;
}

.tagContent {
    position: relative;
}

.close {
    width: 100%;
}

.close_icon {
    float: right;
}

.schedule {
    height: 75px;
    border-bottom: 1px solid #e1e5ec;
    display: flex;
    align-items: center;
    column-gap: 15px;
    font-size: var(--h3-font-size);
}
.schedule.schedule_content {
    padding: 10px 0;
    height: auto;
}
input[type="text"], input[type="datetime-local"], textarea {
    width: 90%;
    height: 70%;
    font: var(--body-font);
    color: var(--text-color);
    border: none;
}

textarea {
    width: 500px;
}

input[type="text"], input[type="datetime-local"], textarea:disabled {
    background-color: #FFFFFF;
}

/* input 박스 클릭 시 생기는 테두리 제어하기 */
input[type="text"]:focus, input[type="datetime-local"]:focus, textarea:focus {
    outline: none;
}

input[type="range"] {
    width: 50%;
    height: 70%;
}


.schedule:nth-child(9) {
    border: none;
}

.schedule_save {
    justify-content: center;
    border: none;
    margin-top: 1rem;
}

.schedule_save {
    height: fit-content;
}

.schedule_save > button {
    height: 50px;
}

.schedule_save_btn {
    width: 100px;
    height: 70%;
    background-color: #e1e5ec;
    color: var(--text-color);
    border-radius: 10px;
    font-size: var(--h3-font-size);
}
.schedule_delete_btn {
    width: 100px;
    height: 70%;
    background-color: #9907074d;
    color: var(--text-color);
    border-radius: 10px;
    font-size: var(--h3-font-size);
}
/* 지도 checkbox 클릭 시 바뀌는 css */
.show_address_modal-content {
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    padding: 20px;
    border: 5px solid #888;
    border-radius: 20px;
    width: 90%;
    max-width: 1200px;
    height: auto;
    box-sizing: content-box;
    transition: all .4s;
}

.modal_section_div {
    display: flex;
    justify-content: space-around;
}

.modal_section {
    width: 50%;
}

#modal_section1 {
    max-width: 510px;
}

.modal_section:last-of-type {
    border-left: 4px solid #d3d3d570;
    padding-left: 45px;
}

.schedule_address_qLabel:after {
    content: "주소 등록";
}

.schedule_address_qLabel.view:after {
    content: "주소";
}

.schedule_address_qLabel:hover {
    color: #1b5ac2;
}

.schedule_address_qLabel.view:hover {
    color: var(--text-color);
}

/* 진행도 select box */
.progress_selectBox {
    font-family: var(--body-font);
    position: relative;
    z-index: 1;
    width: 140px;
    height: 35px;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    border: 2px solid #0098fe;
}

.progress_selectBox.view {
    font-family: var(--body-font);
    position: relative;
    z-index: 1;
    width: 140px;
    height: 35px;
    border-radius: 0px;
    border: none;
}

.progress_selectBox.view > button {
    cursor: default;
}

.progress_label_icon {
    content: '>';
    position: absolute;
    top: 18%;
    transform: rotate(90deg);
    right: 10px;
    z-index: -1;
}

.progress_label_icon {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    top: -3px;
    right: 23px;
}

.progress_selectBox .progress_label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 0 none;
    outline: 0 none;
    padding-left: 10px;
    background: transparent;
    cursor: pointer;
}

.progress_selectBox .progress_optionList {
    position: absolute;
    top: 32px;
    left: -2px;
    width: 140px;
    background: #fff;
    color: var(--text-color);
    list-style-type: none;
    padding: 0;
    border-radius: 0 0 4px 4px;
    overflow: hidden;
    max-height: 0;
}

.progress_selectBox.active {
    z-index: 10;
    border-bottom: none
}

.progress_selectBox.active .progress_optionList {
    max-height: 500px;
    border: 2px solid #0098fe;
    border-top: none;
}

.progress_selectBox .progress_optionItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 36px;
    padding: 8px 10px;
    box-sizing: border-box;
    font-size: 1rem;
    color: #222;
    background-color: #FFFFFF;
    cursor: pointer;
}

.progress_selectBox .progress_optionItem:hover {
    background: #e2e2e2;
}

.progress_selectBox .progress_optionItem:last-child {
    border-bottom: 0 none;
}
.progress_optionItem_name_div {
    border-radius: 2px;
    width: 48px;
}
.progress_optionItem_name {
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.ing {
    /* 진행 */
    background-color: #e5f5ff;
}
.done {
    /* 완료 */
    background-color: #ddf9f0;
}
