.tagModal {
    display: none;
    position: absolute;
    z-index: 11;
    left: 0;
    bottom: 10px;
    width: 30%;
    min-height: 100px;
    overflow: auto;
}
.tagModal-content{
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #a8a8a8;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    height:100%;
}
.tagDiv {
    display: flex;
    justify-content: center;
    background: #a8a8a8;
    margin: 2px;
    border-radius: 10px;
}