.modal {
    display: none;
    /*position: fixed;*/
    z-index: 1;
    left: 0;
    top: 0;
    width: 30%;
    min-height: 100px;
    overflow: auto;
}
.modal-content{
    background-color: #fefefe;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid #888;
    border-radius: 20px;
    width: 100%;
    max-width: 1200px;
    height:100%;
}