<div class="chartAreaHeader">
    <p class="scheduleTitle" onclick="tagAboutSchedule()">일정 목록</p><p id="scheduleCount" class="scheduleCount"></p>
</div>
<div class="scheduleListDiv">
    <!-- 일정 목록 -->
    <div class="vertical-line">
        <ul id="scheduleDiv">
           
        </ul>

    </div>
</div>