<div class="chartAreaHeader">
    <p>일정 목록</p><p class="scheduleCount">10</p>
    <div class="sort">
        <!-- 일정 목록 정렬 필터 -->
        <i class="fa-solid fa-filter scheduleListSortDiv_icon" id="scheduleListSortDiv_icon"></i>
        <p class="date" id="nows"></p>
    </div>
</div>
<div class="scheduleListDiv">
    <!-- 일정 목록 -->
    <div class="vertical-line">
        <ul id="scheduleDiv">
           
        </ul>

    </div>
</div>