<!--
    담당자 : 이승현
    주요 기능 : 태그 통계의 일정 목록 영역 입니다..
 -->
<div class="scheduleListHeader">
    <div class="scheduleListHeaderLeft">
        <p class="scheduleTitle">일정 목록</p><p id="scheduleCount" class="scheduleCount"></p>
    </div>
    <i class="fa-solid fa-rotate-right" onclick="tagScheduleReload()"></i>
</div>
<div class="scheduleListDiv">
    <!-- 일정 목록 -->
    <div class="vertical-line">
        <ul id="scheduleDiv">

        </ul>
    </div>
</div>