<div class="chartAreaHeader">
    <p>일정 목록</p><p class="scheduleCount">10</p>
    <div class="sort">
        <!-- 일정 목록 정렬 필터 -->
        <i class="fa-solid fa-filter scheduleListSortDiv_icon" id="scheduleListSortDiv_icon"></i>
        <p class="date" id="nows"></p>
    </div>
</div>
<div class="scheduleListDiv">
    <!-- 일정 목록 -->
    <div class="vertical-line">
        <ul id="scheduleDiv">
            <!-- <div class="scheduleDiv_li">
                <div class="list_style"></div>
                <li class='scheduleDiv' onclick="">
                    <div class="title_group">
                        <div class="title sortDivList">일정 제목</div>
                        <div class="about_tag sortDivList">#축구, #농구, #야구</div>
                    </div>
                    <div class="time_flex">
                        <div class="start sortDivList">
                            2022.10.27, 오전 10:00
                        </div>
                        <div class="sortDivList"> - </div>
                        <div class="end sortDivList">
                            2022.10.28, 오후 10:00
                        </div>
                    </div>
                </li>
            </div>
            <div class="scheduleDiv_li">
                <div class="list_style"></div>
                <li class='scheduleDiv' onclick="">
                    <div class="title_group">
                        <div class="title sortDivList">일정 제목</div>
                        <div class="about_tag sortDivList">축구, 농구, 야구</div>
                    </div>
                    <div class="time_flex">
                        <div class="start sortDivList">
                            2022.10.27, 오전 10:00
                        </div>
                        <div class="sortDivList"> - </div>
                        <div class="end sortDivList">
                            2022.10.28, 오후 10:00
                        </div>
                    </div>
                </li>
            </div>
            <div class="scheduleDiv_li">
                <div class="list_style"></div>
                <li class='scheduleDiv' onclick="">
                    <div class="title_group">
                        <div class="title sortDivList">일정 제목</div>
                        <div class="about_tag sortDivList">축구, 농구, 야구</div>
                    </div>
                    <div class="time_flex">
                        <div class="start sortDivList">
                            2022.10.27, 오전 10:00
                        </div>
                        <div class="sortDivList"> - </div>
                        <div class="end sortDivList">
                            2022.10.28, 오후 10:00
                        </div>
                    </div>
                </li>
            </div> -->
        </ul>

    </div>
    <!-- <div class="scheduleDiv">

    </div> -->
</div>