<div class="scheduleListHeader">
    <div class="scheduleListHeaderLeft">
        <p class="scheduleTitle">일정 목록</p><p id="scheduleCount" class="scheduleCount"></p>
    </div>
    <i class="fa-solid fa-rotate-right" onclick="tagAboutSchedule()"></i>
</div>
<div class="scheduleListDiv">
    <!-- 일정 목록 -->
    <div class="vertical-line">
        <ul id="scheduleDiv">
           
        </ul>

    </div>
</div>