<div class="chartAreaHeader">
    <p>태그 차트</p>
</div>
<div class="chartArea">
    <canvas id="tagChart" style="height:25vh; width:25vw; max-width: 500px"></canvas>
    <div id="legendDiv" class="legendDiv"></div>
</div>
